<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Histograma de {{ texto.titulo }}</title>
</head>
<body>
        <nav>
        <a href="{% url 'lista_textos' %}">Documentos</a> |
        <a href="{% url 'subir_texto' %}">Subir documento</a> |
        <a href="{% url 'analizar_ngramas' texto.id %}">Analizar n-gramas</a>
    </nav>
    <h1>Histograma de: {{ texto.titulo }}</h1>

    <h2>Tokens procesados (limpios):</h2>
    <p>{{ tokens|join:" " }}</p>

    <h2>Tabla de frecuencias:</h2>
    <table border="1" cellpadding="5">
        <tr>
            <th>Palabra</th>
            <th>Frecuencia</th>
        </tr>
        {% for palabra, frecuencia in histograma %}
        <tr>
            <td>{{ palabra }}</td>
            <td>{{ frecuencia }}</td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="{% url 'lista_textos' %}">Volver a la lista</a></p>
</body>
</html>
